@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro&display=swap");

:root {
  --background-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 13%);
  --link-color: hsl(213, 100%, 28%);
}

html {
  font-size: 2.4vw;
}
@media all and (min-width: 1000px) {
  html {
    font-size: 24px;
  }
}
@media all and (max-width: 520px) {
  html {
    font-size: 18px;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Source Serif Pro", serif;
  font-feature-settings: "kern" 1;
  font-feature-settings: "liga" 1;
  font-size: 0.93rem;
  line-height: 1.4;
  max-width: 65ch;
  margin: auto;
  padding: 16px;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

a,
a:visited,
a:active {
  color: var(--link-color);
  cursor: pointer;
  transition: background 0.2s, text-decoration 0.2s, filter 0.2s;
  text-decoration: underline solid var(--background-color);
}

a:active {
  filter: brightness(60%);
}

a:hover {
  text-decoration: underline;
}
