---
import { getCollection } from "astro:content";
import A from "../components/A.astro";
import Heading from "../components/Heading.astro";
import RssFeed from "../components/RssFeed.astro";
import allLinks from "../content/links";
import Rss from "../icons/Rss.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const recentPosts = (await getCollection("blog")).slice(0, 3);
const links = allLinks.filter((link) => link.text !== "Home");
---

<BaseLayout
	title="Well-Read Woman"
	class="grid place-content-center items-center"
	showHeaderSubtitle
	noHeaderBackground
>
	<Fragment slot="head">
		<meta property="og:title" content="Well-Read Woman" />
		<meta property="og:type" content="website" />
		<meta
			name="description"
			content="Front-end dev. Father. Young grump. Simple things enjoyer."
		/>
		<meta
			property="og:description"
			name="description"
			content="Front-end dev. Father. Young grump. Simple things enjoyer."
		/>
	</Fragment>
	<main>
		<section>
			<Heading level={2}>Links</Heading>
			<ul>
				<ul class="flex gap-4 flex-wrap">
					{
						links.map((link) => (
							<li>
								<A {...link.attrs}>{link.text}</A>
							</li>
						))
					}
				</ul>
			</ul>
		</section>
		<section class="mt-4">
			<Heading level={2}>Recent reviews</Heading>
			<RssFeed
				class="overflow-y-auto max-h-80"
				url="https://proxy.catskull.net/https://www.goodreads.com/user/updates_rss/43825336"
				count={10}
			/>
		</section>
	</main>
</BaseLayout>
