---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import WavingHand from "../components/icons/WavingHand.astro";
import Rss from "../components/icons/Rss.astro";
const allPosts = await getCollection("blog");
---

<style>
	ul {
		list-style: none;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-template-rows: masonry;
		gap: 1rem;
	}

	main {
		margin-block-start: 0.5rem;
	}

	.blog-posts {
		max-height: 55vh;
		overflow-y: auto;
		margin-block-start: 0.25rem;

		a {
			text-decoration: none;
			display: block;

			p:first-child {
				text-decoration: underline;
			}
			p:not(:first-child) {
				font-size: 0.8rem;
				color: var(--color-text-light);
			}
		}
	}

	h1 > svg {
		height: 1em;
		vertical-align: top;
	}

	:global(.content-wrapper) {
		display: grid;
		place-content: center;
		align-items: center;
	}
</style>
<BaseLayout title="👋 I'm Carter.">
	<Fragment slot="head">
		<meta property="og:title" content="👋 I'm Carter." />
		<meta property="og:type" content="website" />
		<meta
			name="description"
			content="Front-end dev. Father. Young grump. Simple things enjoyer."
		/>
		<meta
			property="og:description"
			name="description"
			content="Front-end dev. Father. Young grump. Simple things enjoyer."
		/>
	</Fragment>
	<header>
		<hgroup>
			<h1>
				<WavingHand height="1em" vertical-align="top" label="Hello" />
				I'm Carter.
			</h1>
			<p>Front-end dev. Father. Young grump. Simple things enjoyer.</p>
		</hgroup>
		<nav>
			<ul class="social-links">
				<li>
					<a
						href="https://github.com/carterworks"
						title="GitHub"
						aria-label="GitHub"
					>
						GitHub
					</a>
				</li>
				<li>
					<a
						href="https://www.linkedin.com/in/thatcartermcbride/"
						title="LinkedIn"
						aria-label="LinkedIn"
					>
						LinkedIn
					</a>
				</li>
			</ul>
		</nav>
	</header>
	{
		allPosts.length > 0 && (
			<main>
				<h2>
					Blog posts{" "}
					<a href="/blog/feed.xml">
						<Rss verticalAlign="middle" label="RSS feed" />
					</a>
				</h2>
				<ul class="blog-posts">
					{allPosts.map((post) => (
						<li>
							<a href={`/blog/${post.slug}/`}>
								<p>{post.data.title}</p>
								<p>
									<time
										datetime={post.data.pubDate.toString()}
										is="formatted-date"
									/>
								</p>
								<p>{post.data.description}</p>
							</a>
						</li>
					))}
				</ul>
			</main>
		)
	}
</BaseLayout>
