---
import UrlLink from '../components/UrlLink.astro';
import List from '../components/List.astro';
import ListItem from '../components/ListItem.astro';
import Heading from '../components/Heading.astro';
import BasePage from '../layouts/BasePage.astro';
---
<BasePage title="Carter McBride">
  <div slot="header">
    <Heading level={1}>Hi, I'm Carter.</Heading>
    <p>
      I'm a budding software developer, fresh out of college. I love a good UI
      and a smooth deploy.
    </p>
  </header>
  <>
    <section>
      <Heading level={2}>Projects</Heading>
      <List>
        <ListItem>
          <UrlLink
            href="https://github.com/carterworks/side-projects/tree/master/discord-bots"
          >
            Discord Bots
          </UrlLink>
          <span>—</span>
          <span>
            A few toy Discord Bots. Includes FTFYBot, which corrects your
            misspellings, and LMGTFYBot, which detects questions and snarkily
            Googles the word for you. Written in Go.
          </span>
        </ListItem>
        <ListItem>
          <UrlLink
            href="https://github.com/carterworks/side-projects/tree/master/uta"
          >
            UTA
          </UrlLink>
          <span>—</span>
          <span>
            A commandline utility and API wrapper for the Utah Transit
            Authority's API. Written in Go.
          </span>
        </ListItem>
        <ListItem>
          <UrlLink href="https://proposal.carter.works/">A Tinder Clone</UrlLink>
          <span>—</span>
          <span>My wife and I met on Tinder. This is how I proposed!</span>
        </ListItem>
      </List>
    </section>
    <section>
      <Heading level={2}>Jobs</Heading>
      <List>
        <ListItem>
          Simplifile
          <span>—</span>
          <span>Software Developer from Jan 2019 to Present</span>
          <List>
            <ListItem>Javascript/Typescript</ListItem>
            <ListItem>Angular</ListItem>
            <ListItem>Java</ListItem>
          </List>
        </ListItem>
        <ListItem>
          Lingotek
          <span>—</span>
          <span>Intern from May 2018 to December 2018</span>
          <List>
            <ListItem>Javascript</ListItem>
            <ListItem>Vue</ListItem>
          </List>
        </ListItem>
        <ListItem>
          BYU Center for Teaching and Learning
          <span>—</span>
          <span>Front-End Developer from February 2016 to May 2018</span>
          <List>
            <ListItem>Javascript</ListItem>
            <ListItem>PHP</ListItem>
          </List>
        </ListItem>
        <ListItem>
          Nu Skin
          <span>—</span>
          <span>Intern from May 2017 to August 2017</span>
          <List>
            <ListItem>Javascript/Typescript</ListItem>
            <ListItem>React</ListItem>
            <ListItem>Microsoft Sharepoint</ListItem>
          </List>
        </ListItem>
      </List>
    </section>
    <section>
      <Heading level={2}>Hobbies include…</Heading>
      <List>
        <ListItem>Tinkering with Docker and Kubernetes</ListItem>
        <ListItem>Cooking</ListItem>
        <ListItem>
          Collecting data about things, like my sugar glider's eating habits
        </ListItem>
        <ListItem>Playing video games</ListItem>
      </List>
    </section>
    <section>
      <Heading level={2}>Contact</Heading>
      <List>
        <ListItem>
          <UrlLink href="mailto:hello@site.carter.works">Email me…</UrlLink>
        </ListItem>
        <ListItem>
          <UrlLink href="https://www.linkedin.com/in/thatcartermcbride/">
            …or connect with me on LinkedIn
          </UrlLink>
        </ListItem>
        <ListItem>
          <UrlLink href="https://github.com/carterworks">
            …or improve my code on GitHub
          </UrlLink>
        </ListItem>
        <ListItem>
          <UrlLink href="https://steamcommunity.com/id/CobraLaserFace/home">
            …or play a game with me on Steam
          </UrlLink>
        </ListItem>
        <ListItem>
          …or find RarePupper#6027 on Discord.
        </ListItem>
      </List>
    </section>
  </>
</BasePage>
