---
import ExternalLink from "../icons/ExternalLink.astro";

interface Props {
	class?: string;
	href: string;
	underline?: boolean;
	[key: string]: unknown;
}
const {
	class: extraClasses = "",
	underline = true,
	href,
	...rest
} = Astro.props;
const isExternal = href.startsWith("http");
---

<a
	{...rest}
	href={href}
	class:list={[
		"hover:opacity-30",
		"transition-opacity",
		underline && "underline",
		extraClasses,
	]}
>
	<slot />
	{
		isExternal && (
			<ExternalLink aria-hidden class="inline-block w-3 -ml-0.5 align-sub" />
		)
	}
</a>
