---
const {level = 1} = Astro.props;
const headingTextSizes = {
  1: "text-2xl",
  2: "text-lg"
};
function getClassList(level) {
  const textSize = headingTextSizes[level] ?? "text-2xl";
  const classList = [textSize, "font-sans"]
  if (level === 1) {
    classList.push("text-center");
  } else if (level === 2) {
    classList.push("mt-5");
  }
  return classList.join(" ");
}
const classList = getClassList(level);
---
{level === 1 ? 
  <h1 class={classList}><slot/></h1> :
  level === 2 ?
    <h2 class={classList}><slot/></h2> :
    <h1 class={classList}><slot/></h1>
}
