---
import "../global.css";
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#f43f5e" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="Description" content="Homepage for Carter McBride" />
		<link rel="canonical" href="https://carter.works" />
		<link rel="icon" href="/favicon.ico" sizes="any" /><!-- 32×32 -->
		<link rel="icon" href="/icon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" /><!-- 180×180 -->
		<link rel="manifest" href="/site.webmanifest" />
		<title>{title}</title>
	</head>

	<body
		class="subpixel-antialiased font-serif text-gray-100 bg-sky-800 h-screen flex flex-col justify-center items-center p-4"
	>
		<header class="max-w-lg w-full">
			<slot name="header" />
		</header>
		<main class="max-w-lg w-full">
			<slot />
		</main>
	</body>
</html>
