---
const {title} = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'/>" />
    <meta name="theme-color" content="#333333" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Homepage for Carter McBride" />
    <link rel="canonical" href="https://carter.works" />
    <title>{title}</title>
    <style>
      :root {
          font-size: 20px;
      }
    </style>
  </head>
  <body class="subpixel-antialiased font-serif text-gray-100 bg-gray-900">
    <header class="max-w-lg mx-auto px-2 md:px-0">
      <slot name="header"/>
    </header>
    <main class="max-w-lg mx-auto px-2 md:px-0">
      <slot/>
    </main>
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "548056fa9cc6482fbb752ed3929fdb1e"}'></script>
    <!-- End Cloudflare Web Analytics -->
  </body>
</html>
